body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #31305A;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 1rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.title-sobre {
  font-size: 50px;
  color: #31305A;
  font-weight: bold;
  line-height: 58px;
}

#sobre {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  text-align: left;
}

#sobre .sobre-imagem img {
  max-width: 70%;
  height: auto;
}

#sobre .sobre-texto {
  max-width: 50%;
  color: #2B2B2B;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
}

@media (max-width: 768px) {
  #sobre {
    flex-direction: column;
    text-align: center;
  }

  #sobre .sobre-imagem img, #sobre .sobre-texto {
    max-width: 100%;
  }
  .sobre-imagem img {
    max-width: 80%;
  }
}

#video {
  padding: 2rem;
  text-align: center;
}

.planos {
  display: flex;
  justify-content: space-around;
}

.plano {
  border: 1px solid #ccc;
  padding: 1rem;
  width: 30%;
}

.consulta-btn {
  display: block;
  margin: 1rem auto;
  padding: 7px 30px;
  background-color: #3B5384;
  color: #FFF;
  border: none;
  border: 2px solid #3B3B3B;
  border-radius: 16px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 200;
  align-items: center;
  gap: 10px;
}

.contatos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contato-item {
  display: flex;
  align-items: center;
}

.contato-item .material-icons {
  font-size: 24px;
  margin-right: 0.5rem;
  height: 24px;
  width: 24px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
  width: 100%;
  bottom: 0;
}
