body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  background-color: #31305A;
  color: #fff;
  padding: 1rem;
  width: 100%;
  box-sizing: border-box;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* margin: 0 1rem; */
}

header img {
  height: 150px;
  width: 150px;
}

header ul {
  padding: 0;
  display: flex;
  justify-content: center;
}

header ul li {
  display: inline;
  margin: 0 1rem;
}

header ul li a {
  color: #fff;
  text-decoration: none;
}

.hamburger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger-menu div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 4px 0;
}

.close-menu {
  display: none;
  cursor: pointer;
}

.close-menu .material-icons {
  font-size: 28px;
  color: #fff;
}

.title-sobre {
  font-size: 50px;
  color: #31305A;
  font-weight: bold;
  line-height: 58px;
}

#sobre {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

#sobre .sobre-imagem img {
  max-width: 70%;
  height: auto;
  text-align: center !important;
}

#sobre .sobre-texto {
  max-width: 50%;
  color: #2B2B2B;
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
  text-align: left;
}

.desktop-only {
  display: block;
}

.mobile-only {
  display: none;
}

@media (max-width: 768px) {
  header {
    flex-direction: row;
    padding: 1rem 0;
    justify-content: space-around;
  }

  header nav {
    flex-direction: row;
    align-items: center;
  }

  header ul {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #31305A;
  }

  header ul.active {
    display: flex;
  }

  header ul li {
    margin: 1rem 0;
    text-align: center;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu.active {
    display: none;
  }

  .hamburger-menu.active + ul {
    display: flex;
  }

  .close-menu {
    display: none;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .close-menu.active {
    display: block;
  }

  #sobre {
    flex-direction: column;
    text-align: center;
  }

  #sobre .sobre-imagem img, #sobre .sobre-texto {
    max-width: 100%;
  }
  .sobre-imagem img {
    max-width: 80%;
  }

  .desktop-only {
    display: none !important;
  }

  .mobile-only {
    display: block;
    text-align: center;
    margin-top: 1rem;
  }

  button {
    padding: 5px 20px;
    font-size: 10px;
  }

  .img-button {
    width: 20px;
    height: 20px;
  }
}

#video {
  padding: 2rem;
  text-align: center;
}

.planos {
  display: flex;
  justify-content: space-around;
}

.plano {
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 3rem;
  width: 45%;
}

.consulta-btn-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  padding: 7px 30px;
  background-color: #80B049;
  color: #FFF;
  border: none;
  border: 2px solid #3B3B3B;
  border-radius: 16px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 200;
  gap: 10px;
}

.consulta-btn-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  padding: 7px 30px;
  background-color: #80B049;
  color: #FFF;
  border: none;
  border: 2px solid #3B3B3B;
  border-radius: 16px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 200;
  gap: 10px;
}

.consulta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  padding: 7px 30px;
  background-color: #3B5384;
  color: #FFF;
  border: none;
  border: 2px solid #3B3B3B;
  border-radius: 16px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 200;
  gap: 10px;
}

.img-button {
  width: 28px;
  height: 28px;
  object-fit: cover;
}

@media (max-width: 768px) {
  .contatos {
    flex-direction: column;
    align-items: center;
  }

  .contato-item {
    margin-bottom: 1rem;
  }

  button {
    padding: 5px 20px;
    font-size: 10px;
  }

  .img-button {
    width: 20px;
    height: 20px;
  }
}

#planos-section {
  padding: 2rem;
  text-align: center;
}

#planos-section .consulta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 7px 30px;
  background-color: #3B5384;
  color: #FFF;
  border: none;
  border: 2px solid #3B3B3B;
  border-radius: 16px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 200;
  gap: 10px;
}

#planos-section .consulta-btn .img-button,
#planos-section .consulta-btn .material-icons {
  width: 28px;
  height: 28px;
  object-fit: cover;
}

#planos-section .consulta-btn .material-icons {
  color: #000;
}

#planos-section .consulta-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 768px) {
  #planos-section .consulta-btn-container {
    flex-direction: column;
  }

  #planos-section .consulta-btn {
    padding: 5px 20px;
    font-size: 10px;
  }

  #planos-section .consulta-btn .img-button,
  #planos-section .consulta-btn .material-icons {
    width: 20px;
    height: 20px;
  }
}

#contato {
  padding: 2rem;
  text-align: center;
}

.contatos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contato-item {
  display: flex;
  align-items: center;
}

.contato-item .material-icons {
  font-size: 24px;
  margin-right: 0.5rem;
  height: 24px;
  width: 24px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1rem;
}
